<!DOCTYPE html>
<html>
<head>
  <title><%= Rails.application.config.daimon.service_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <%= Rails.application.config.daimon.service_title %>(記事登録)
  </header>

  <%= yield %>

</body>
</html>
