<!DOCTYPE html>
<html>
<head>
  <title><%= Rails.application.config.daimon.service_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <%= link_to root_path do %>
      <%= image_tag 'custom/logo.png' %>
      <%= Rails.application.config.daimon.service_title %>
    <% end %>
  </header>

  <div class="main-container">
    <main>
      <%= yield %>
    </main>

    <aside class="sidebar">
      <%= concept('posts/cell').(:recent_arrival, count: 5) %>
      <%= concept('posts/cell').(:popular, count: 5) %>
    </aside>
  </div>

</body>
</html>
